[submodule "libev"]
	path = libev
	url = https://github.com/enki/libev.git
[submodule "luajit"]
	path = luajit
	url = http://luajit.org/git/luajit-2.0.git
[submodule "luarocks"]
	path = luarocks
	url = https://github.com/keplerproject/luarocks.git
[submodule "redis-lua"]
	path = redis-lua
	url = https://github.com/nrk/redis-lua.git
