path.link {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
}
marker#arc {
    fill: black;
    }
marker#resolved{
    fill: blue;
}
path.link.arc {
    stroke: black;
}
path.link.resolved {
    stroke-dasharray: 0, 2 1;
}
path.link.elliptic {
    stroke: orange;
}
circle.token {
    cursor: move;
    stroke: #333;
}
text {
    font: 12px sans-serif;
    pointer-events: none;
}
text.shadow {
    stroke: #fff;
    stroke-width: 3px;
    stroke-opacity: .8;
}
.node {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 2px;
}

.link {
    stroke: #777;
    stroke-width: 2px;
}


.node.selected {
    fill: #f00;
}
.lua_form{
    border-style: solid;
    border-width: 3px;
}
.drag_line {
    stroke: #999;
    stroke-width: 5;
    pointer-events: none;
}

.drag_line_hidden {
    stroke: #999;
    stroke-width: 0;
    pointer-events: none;
}

.palette-box {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  position: relative;
  background: Crimson;
}

.palette item {
  text-decoration: none;
  color: red;
  display: block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  position: relative;
  text-align: center;
}

.menu_item_circle:hover {
  opacity: 0.5;
}
svg text{
    font-family: FontAwesome;
}
.menu-button {
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  text-decoration: none;
  text-align: center;
  color: blue;
  border-radius: 50%;
  display: block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  padding: 10px;
  background: #dde;
  -moz-box-sizing: content-box;
}

.menu-button:hover {
  background-color: #f00;
}


/*********************/

.circular-menu {
  margin: 0 auto;
  position: relative;
}

.circle_container {
  width: 250px;
  height: 250px;
  opacity: 0;
  
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);

  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.open.circle_container {
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}

.circle_container a {
  text-decoration: none;
  color: blue;
  display: block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  position: absolute;
  text-align: center;

}

.circle_container a:hover {
  color: #f00;
}

/****************************************/

.node-options-menu {
  margin: 0 auto;
  position: relative;
}

.node-options-container {
  width: 100px;
  height: 100px;
  opacity: 0;
  
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);

  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.open.node-options-container {
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}

.node-options-container a {
  text-decoration: none;
  color: blue;
  display: block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  position: absolute;
  text-align: center;

}

.node-options-container a:hover {
  color: #f00;
}
